go 1.21.0

use (
	./middleware
	./middleware/expvar
	./middleware/logrus
	./middleware/prometheus
	./middleware/readonly
	./middleware/trace
	./middleware/shard
	./middleware/fallback
	./middleware/cuckoo
	./middleware/retrier
	./middleware/rate
	./middleware/slog
	./middleware/multilevel
)
